.slider-img {
    filter: brightness(50%);
    height: 90vh;
    object-fit: cover;
}

.ready-join-section {
    height: 200px;
}

.company img {
    margin-left: 50px;
    width: 100px;
}

.footer {
    height: 420px;
    width: 100%;

}

.icons a {
    text-decoration: none;
}

.fa-brands,
.fa-solid {
    color: white;
    /* border: 1px solid white;
    border-radius: 30px;
    padding: 15px; */
    margin: 20px;
}